<div class="d-flex justify-content-between">
<h1>New client</h1>
  <%= link_to "Back to clients", clients_path, class: "btn btn-secondary" %>
</div>

<%= render "form", client: @client %>

<br>

<div>
</div>
