h1 {
    font-size: 2rem;
    font-weight: bold;
    color: $primary;
    background-color: #2d93f9;
    padding: 10px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(61, 4, 115);
    background-color: #2d93f9;
    padding: 10px;
}